* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(255,255,255,1) 33%, rgba(225,225,225,1) 56%);
    display: grid;
    place-items: center;
}

#board {
    width: 80%;
    height: 90%;
    /* border: 1px solid black; */
}

.hand {
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .front {
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.4s linear;
}

.card .back {
    position: absolute;
    transform: rotateY(0);
    backface-visibility: hidden;
    transition: transform 0.4s linear;
}

.card:hover .front {
    transform: rotateY(0deg);
}

.card:hover .back {
    transform: rotateY(-180deg);
}

