* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  background: #dee2f1;
  font-family: 'Metropolis';
  /* background-color: ; */
}

.gradient_circles_bg {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

#game_status {
    color: #777777;
    margin-bottom: 4rem;
}
.wager_el_container {
    position: fixed;
    top: 3.1rem;
    left: 5rem;
}

#continue_btn {
  background: linear-gradient(0deg, #56c596 0%, #7BE495 100%);
}

#reset_btn {
  background: linear-gradient(0deg, #c82471 0%, #D09192 100%);
}

.wager_el_container button {
    margin: 1rem 0.75rem 1rem 0;
}
#wager_el {
    color: #777777;
}

#board {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: -3px -4px 8px #ffaaff73,
 2px 2px 5px #9b9da3;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow-x: scroll;
  border-radius: 10px;
}

.hand {
  width: 100%;
  /* height: %; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#player {
  margin-top: 10rem;
}

.amount {
  text-align: center;
  margin: 0.75rem 0 0.75rem 0;
  font-size: 0.95rem;
  color: #777777
}

.btn_container {
  margin: auto;
  position:relative;
  top: 75px;
  display: flex;
  flex-direction: column;
  width: max-content;
  /* text-align: center; */
  padding: 50px;
}
.btn_container > button {
  text-transform: uppercase;
}
.btn_container > button:first-child{
  margin-bottom: 1rem;
}

button {
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  /* background: #ad5389; */
  background: linear-gradient(0deg, magenta 0%, #ffaaff74 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #ffaaff74;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
  justify-content: center;
}


.disabled {
    border-color: darkgrey;
    color: darkgray;
    box-shadow: inset 3px 3px 4px #9b9da3,
 inset -6px -1px 9px #ffaaff74;
 background: #dee2f1 !important;
 cursor: not-allowed !important;
}

.hidden {
  visibility: hidden;
}

/*FONTS*/
@font-face {
    font-family: 'Metropolis';
    src: url('../assets/fonts/Metropolis\ Font\ family/Metropolis-Regular.otf');
}